.movies-filter-panel {
  background-color: #161D2A;
  border: 1px solid #2E3A4E;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-box-large input {
  width: 100%;
  background-color: #1F293A;
  border: 1px solid #2E3A4E;
  color: #ffffff;
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s ease;
}

.search-box-large input:focus {
  border-color: #F59E0B;
}

.search-box-large input::placeholder {
  color: #94A3B8;
  opacity: 0.7;
}

.filter-row {
  display: flex;
  gap: 15px;
}

.movies-results-grid {
  color: #94A3B8;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media (max-width: 1200px) {
  .movies-grid,
  .movies-results-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .movies-grid,
  .movies-results-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .movies-grid,
  .movies-results-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
