*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #2D3354;
  color: #ffffff;
  font-family: sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
